<mat-card class="page-card">
  <mat-card-title>Dodaj nową osobę</mat-card-title>
  <form (ngSubmit)="save()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Imię</mat-label>
      <input matInput [(ngModel)]="person.firstName" name="firstName" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nazwisko</mat-label>
      <input matInput [(ngModel)]="person.familyName" name="familyName" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Wiek</mat-label>
      <input matInput type="number" [(ngModel)]="person.age" name="age">
    </mat-form-field>

    <mat-card class="sub-card">
      <mat-card-title>Adres</mat-card-title>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Miasto</mat-label>
        <input matInput [(ngModel)]="person.address!.city" name="city">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Ulica</mat-label>
        <input matInput [(ngModel)]="person.address!.street" name="street">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Kod pocztowy</mat-label>
        <input matInput [(ngModel)]="person.address!.postCode" name="postCode">
      </mat-form-field>
    </mat-card>


    <div class="actions">
      <button mat-raised-button color="primary" type="submit">
        Zapisz
      </button>

      <button mat-stroked-button color="warn" type="button" routerLink="/">
        Anuluj
      </button>
    </div>

  </form>
</mat-card>
